@mixin default-text($letter-spacing: $letter-spacing, $text-color: $text-dark) {
    letter-spacing: $letter-spacing;
    color: $text-color;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

html {
    font-size: 100%;
}

body {
    /* 1.2 - 1.5 */
    line-height: 1.3;

}

h1 {
    font-family: $font-family-title;
    @include default-text(3px);
    font-size: 2.4rem;

    /* p-tags margin-bottom * 2  */
    margin-bottom: 2.90rem;

}

h2 {
    font-family: $font-family-title;
    @include default-text(2px);
    font-size: 2rem;

    /* p-tags margin-bottom * 2  */
    margin-bottom: 2rem;
}

h3 {
    font-family: $font-family-title;
    @include default-text(2px);
    font-size: 1.6rem;

    /* p-tags margin-bottom * 2  */
    margin-bottom: 1.6rem;
}

h4 {
    font-family: $font-family-title;
    @include default-text(2px);
    font-size: 1.4rem;

    /* p-tags margin-bottom * 2  */
    margin-bottom: 1.6rem;
}

h5 {
    font-family: $font-family-title;
    @include default-text(2px);
    font-size: 1.3rem;

    /* p-tags margin-bottom * 2  */
    margin-bottom: 1.6rem;
}

h6 {
    font-family: $font-family-title;
    @include default-text(2px);
    font-size: 1.2rem;
    
    /* p-tags margin-bottom * 2  */
    margin-bottom: 1.6rem;
}


p {
    @include default-text(1px);
    /* 1 - 1.3? */
    font-size: 1.1rem;

    /* font-size * line-height */
    margin-bottom: 1.45rem;
    max-width: 60rem;
    font-family: $font-family;
}


@media (min-width: 64em) {
    html {
      font-size: 112.5%;
    }
  }

.hidden {
    display: none;
}
