.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-3;
    padding: 1rem 4rem;
}

.footer * {
    color: $text-light;
}

.social a {
    margin-left: 1rem;
    text-decoration: none;
}

.social > a > i {
    font-size: 2rem;
}