body {
    background-color: $bg;
}

.main {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: $bg-2;
    padding: 1rem;
    border-radius: 0.2rem;

    min-height: 62vh;
}

.main h1 {
    border-bottom: 2px solid $highlight;
}

.main p {
    margin-bottom: 0.6rem;
}

.main p img {
    border-radius: 0.5em;
}

.title * {
    color: $text-dark;
}

.title p {
    font-style: italic;
}