.main {
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.2rem;

    min-height: 76vh;

    p {
        img {
            border-radius: 0.5em;
        }
    }
}

.title * {
    color: $text-color;
}

.title p {
    font-style: italic;
}

a {
    color: $text-color;
}

.col-home {
    display: flex;
    flex-direction: row;
    margin-bottom: 3.5rem;
}



.col-home picture {

    width: 50%;
    height: auto;

    img {
        height: 100%;
        width: 100%;
        border-radius: 0.2rem;
    }
}

.col-home {

    >div {
        margin: auto 0;
        width: 60%;
    }

    .right {
        margin-left: 2rem;
    }

    .left {
        margin-right: 2rem;
    }
}