@media (max-width: 767px) {
    .main {
        margin: 0;
        padding: 1rem;
        width: 100vw;
        max-width: none;
    }
    
    .main img {
        max-width: 90vw;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .footer {
        flex-direction: column;
    }

    .footer > .social {
        margin-top: 1rem;
    }
}