@media (max-width: 767px) {
    .main {
        margin: 0;
        padding: 1rem;
        width: 100vw;
        max-width: none;

        img {
            max-width: 90vw;
        }
    }

    .landingpage>div {
        grid-column: span 3 !important;
    }

    .sidebar {
        display: none;
    }

}

@media (max-width: 500px) {
    .footer {
        padding: 1rem;
    }
}

@media (max-width: 400px) {
    .footer {
        flex-direction: column;

        .social {
            margin-top: 1rem;
        }
    }
}