table {
    border-collapse: collapse;
    color: $text-color;
    margin-bottom: 1rem;

    th {
        font-size: 1.2rem;
        text-align: left;
        padding-right: 0.8rem;
    }

    tbody>tr:nth-child(odd) {
        background-color: $bg;
    }

    td {
        padding: 0.5rem;
    }
}