table {
    border-collapse: collapse;
    color: $text-color;
    margin-bottom: 1rem;

    th {
        font-size: 1.2rem;
        text-align: left;
        padding-right: 0.8rem;

        background-color: $bg-3;
        color: $text-color-2;
        padding: 0.5rem;
    }


    tbody {
        border-radius: 1rem;

        tr {
            border-bottom: 1px solid grey;
        }
    }

    td {
        padding: 0.5rem;
    }
}