.landingpage {
    display: grid;
    gap: 1rem;


    h1 {
        grid-column: span 3;
        justify-self: center;
    }

    .box {
        border-radius: 1rem;
        text-align: center;
        background-color: $bg-3;

        &:hover {
            outline: 3px solid $highlight;
        }

        h2 {
            margin: auto 0;

            a {
                display: inline-block;
                color: $text-color-2;
                text-decoration: none;

                height: 100%;
                width: 100%;
            }
        }
    }

    .box1 {
        grid-column: span 1;
    }

    .box2 {
        grid-column: span 2;
    }

    .box3 {
        grid-column: span 2;
    }

    .box4 {
        grid-column: span 1;
    }

    .box5 {
        grid-column: span 3;
    }

    .box6 {
        grid-column: span 1;
    }

    .box7 {
        grid-column: span 2;
    }


}