/* Colors */
$bg: #6773fa;
$bg-2: #E2E2E2;
$bg-3: #333;

$highlight: #00cf18;

$text-color: #222;
$text-color-2: #eee;



$font-family: 'Noto Serif', serif;
$font-family-title: 'Poppins', sans-serif;
$letter-spacing: 2px;