/* Colors */
$bg: #333;
$bg-2: #555;
$bg-3: #000;

$text-color: #efefef;
$text-color-2: #dadada;

$highlight: #F09630;


$font-family: 'Noto Serif', serif;
$font-family-title: 'Poppins', sans-serif;
$letter-spacing: 2px;