/* Colors */
$bg: #333;
$bg-2: #555;
$bg-3: #000;

$text-color: #dbd9d9;
$text-color-2: #d1d1d1;

$highlight: #00c8ff;


$font-family: 'Noto Serif', serif;
$font-family-title: 'Poppins', sans-serif;
$letter-spacing: 2px;