@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Poppins&display=swap');

$bg: #eee;
$bg-grey: #e3e3e3;
$bg-dark: #333;

$font-color: #222;
$font-color-light: #eee;

$highlight: #0EE;