/* Colors */
$bg: #2a9dbd67;
$bg-2: #ebebeb;
$bg-3: #365057;

$highlight: #00c8ff;

$text-color: #222;
$text-color-2: #eee;



$font-family: 'Noto Serif', serif;
$font-family-title: 'Poppins', sans-serif;
$letter-spacing: 2px;