.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}

#nav ul {
    display: flex;
    flex-direction: row;
    margin: 1.5em 4em;
    gap: 5em;
    list-style: none;
}

#nav ul li {
    border-radius: 1em;
}

#nav ul li a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    font-weight: bold;
}

#nav ul li a:hover {
    text-decoration: underline;
}

#nav ul li.active {
    background-color: black;
    border-radius: 1em;
}

#nav ul li.active a {
    color: whitesmoke;
}

.nav a, .nav-toggle {
    color: #333;
}

.nav-toggle {
    display: none;
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
    }
    
    #nav ul {
        flex-direction: column;
        gap: 0.5em;
    }

    #nav ul li a {
        text-align: center;
    }

    .js .nav-toggle {
        display: block;
        float: right;
        width: 2em;
        margin: 0.6667em 0;
        font-size: 1.5rem;
        line-height: 2em;
        text-align: center;
        cursor: pointer;
    }
}
